<section class="{{ referenceURI }}">
	<h1><span>{{ reference }}: </span>{{ header }}</h1>

	<!-- description -->
	<div data-huron-id="{{ referenceURI }}" data-huron-type="description"></div>

	<!-- markup -->
	{{#each modifiers}}
		<div data-huron-id="{{ ../referenceURI }}" data-huron-modifier="{{ this.name }}" class="{{ this.className }}"></div>
	{{/each}}
</section>