<section class="{{ referenceURI }}">
	<h1><span>{{ reference }}</span>{{ header }}</h1>

	<!-- description -->
	<{{ referenceURI }}-description></{{ referenceURI }}-description>

	<!-- markup -->
	<{{ referenceURI }}></{{ referenceURI }}>
</section>