<section class="{{ referenceURI }}">
	<h1><span>{{ reference }}</span>{{ header }}</h1>

	<!-- description -->
	<div huron-id="description-{{ referenceURI }}"></div>

	<!-- markup -->
	<div huron-id="template-{{ referenceURI }}"></div>
</section>